/*
 *= require_self
 *= require sprockets-octicons
 *= require_tree .
 */
@import "bootstrap-sprockets";
@import "bootstrap";

#integral-form{
  margin-top: 30px;
}

#d_clip_button{
  margin-top: -26px;
  margin-left: -3px;
}

#integral-answer{
  margin-top: 50px;
}
